@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-styles {
  background: black;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}
.alert {
  color: red;
}
.auth {
  width: 50%;
  margin: auto;
  padding: 20px;
}

.auth h2 {
  margin-bottom: 20px;
}
